@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #724be4;
$dark-primary-color: #1e0059;
$secondary-color: #f1ecff;
$background-color: #f2f6fe;
$body-background-color: #c9ccd6;
$pink-dark: #e978ec;
$pink-light: #feedff;
$blue-dark: #1562ff;
$blue-light: #ebf2fe;
$orange-dark: #e1a364;
$orange-light: #f6dabf;
$text-color: #a9a8ac;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin flexBetween($direction: row) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}
@mixin borderRadius($size: 1rem) {
  border-radius: $size;
}

@mixin boxShadow {
  -webkit-box-shadow: 7px 9px 18px 0px rgba(189, 182, 189, 0.76);
  -moz-box-shadow: 7px 9px 18px 0px rgba(189, 182, 189, 0.76);
  box-shadow: 7px 9px 18px 0px rgba(189, 182, 189, 0.76);
}

@mixin media-lg{
  @media screen and (max-width:1024px) {
     @content;
  }
}
@mixin media-md{
  @media screen and (max-width:992px) {
     @content;
  }
}
@mixin media-sm{
  @media screen and (max-width:768px) {
     @content;
  }
}
@mixin media-xsm{
  @media screen and (max-width:576px) {
     @content;
  }
}
@mixin media-xxsm{
  @media screen and (min-width:250px) {
     @content;
  }
}
