@import "config", "aside", "header", "dashboard";

body {
  background: $body-background-color;
  padding: 2rem;
}

.dashboard_container {
  margin: 0 auto;
  @include flexCenter;
  flex-flow: row wrap;
  align-items: stretch;
  width: 80%;
  background: $background-color;
  @include borderRadius(2rem);
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  padding: 0.5rem 0.8rem;
  @include borderRadius(2rem);
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-primary {
  color: white;
  background: $primary-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $dark-primary-color;
  }
}
.btn-purple {
  color: $primary-color;
  background: $secondary-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $primary-color;
    color: white;
  }
}
.btn-blue {
  color: $blue-dark;
  background: $blue-light;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $blue-dark;
    color: white;
  }
}
.btn-orange {
  color: $orange-dark;
  background: $orange-light;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $orange-dark;
    color: white;
  }
}
.btn-pink {
  color: $pink-dark;
  background: $pink-light;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $pink-dark;
    color: white;
  }
}
